<title>TIL Generator</title>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <div class="header">
        <h1>TIL Generator</h1>
    </div>
    <div class="wrap">
        <div class="input-area">
            <p>몇 문장이나 필요하신가요?</p>
            <input type="number" id="sentences">
            <button onclick="generateTIL()">생성하기</button>
        </div>
        <div class="output-area">
            <p id="output">Output</p>
        </div>
    </div>

</body>